:root {
    --app-width: 1020px;
    --app-height: 600px;
    --browser-height: 30px;
    --app-top-botom-margin: 45px;
    --top: calc(var(--app-top-botom-margin) + var(--browser-height));
    --mrgn: 10px;
}
html{
    width: 100%;
    max-height: 100vh;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #eeeeee !important;
} 
#app{
    max-width: var(--app-width);
    margin: var(--app-top-botom-margin) auto;
}
#content{
    /* display: flex;
    flex-wrap: nowrap; */

    margin-left: var(--mrgn);
    margin-right: var(--mrgn);

    max-width: var(--app-width);
    height: var(--app-height);
    background: #FFFFFF;
}
#content{
    /* display: flex;
    flex-wrap: nowrap; */

    margin-left: var(--mrgn);
    margin-right: var(--mrgn);

    max-width: var(--app-width);
    height: var(--app-height);
    background: #FFFFFF;
}
#browser{
    max-width: var(--app-width);
    height: var(--browser-height);
    display: block;
    margin-left: var(--mrgn);
    margin-right: var(--mrgn);

    border-radius: 5px 5px 0 0;
    border-width: 0!important;
    cursor: move;
    box-shadow: 0 0 0 1px #ddd;
    background: #ddd;
}




.outline {
    outline: 2px solid rebeccapurple;
}


.resizable-handle{
    background-color: #eeeeee;
    position:absolute; 
    outline: 1px solid #407bf0; 
    width:5px; 
    height:5px;
    user-select: none;
    z-index: 10000000000;
    box-sizing: border-box;
}
.resizable-handle.hide{
    visibility: hidden;
}
.resizable-handle.TR,.BL {
    cursor: nesw-resize;
}
.resizable-handle.BR,.TL{
    cursor: nwse-resize;
}
.resizable-handle.TM,.BM {
    cursor: s-resize;
}
.resizable-handle.LM,.RM {
    cursor: w-resize;
}
.resizable-handle.MM{
    cursor: move;
}






