:root {
    --app-width: 1020px;
    --app-height: 600px;
    --browser-height: 30px;
    --app-top-botom-margin: 45px;
    --top: calc(var(--app-top-botom-margin) + var(--browser-height))
}

html, body {
    width: 100%;
    max-height: 100vh;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #eeeeee;
} 

#app{
    width: var(--app-width);
    margin: var(--app-top-botom-margin) auto;
}

#content{
    width: var(--app-width);
    height: var(--app-height);
    background: #FFFFFF;
}

#browser{
    width: var(--app-width);
    height: var(--browser-height);
    display: block;

    border-radius: 5px 5px 0 0;
    border-width: 0!important;
    cursor: move;
    box-shadow: 0 0 0 1px #ddd;
    background: #ddd;
}

#svg-grid{
    position: absolute;
    top: var(--top);
    margin: 12 auto;
    height:580px;
    width:1000px;
}

#ruler{
    position:absolute;
    height:100vh;
    width:100%;
    margin:0;
    padding:0;
    top:0;
    left:0;
}

#ruler_trigger{
    position:fixed;
    top:0;
    right:0;
    z-index: 999;
}

.outline {
    outline: 2px solid rebeccapurple;
}



.resizable-handle{
    background-color: #eeeeee;
    position:absolute; 
    outline: 1px solid #407bf0; 
    width:5px; 
    height:5px;
    user-select: none;
    z-index: 10000000000 !important;
}
.resizable-handle.hide{
    visibility: hidden;
}

.hide{
    visibility: hidden;
}